<body class="landingpage menu">

    <div class="container" style="background-color: white; margin-top: 100px;">

    <div class="row menu_headline">

      <a href="/"><h1 style="color: black">FOR MOVING SERVICE</h1></a>

    </div>

    <div class="row content">
      <h3>ART TRANSPORTATION</h3>
        <div class="col-sm-2 menu" style="position: fixed">
          <ul class="">
            <a href="/menu"><li>MENU</li></a>
            <li>*</li>
            <li>CONTACT</li>
          </ul>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-1"></div>

        <div class="col-sm-3" style="padding-top: 50px; text-align: left">

            <p>Bacon ipsum dolor amet ground round sirloin filet mignon, andouille cupim beef salami brisket ham hock hamburger pastrami shankle biltong. Chuck jerky brisket beef shank bresaola spare ribs pork cow meatball. </p>

        </div>

        <div class="col-sm-3" style="padding-top: 50px">
            <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-2 logo" style="padding-left: 0px; margin-right: 150px; position: fixed; right: 0">
            <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/20141204_FMS_logomoods7.png" width="40px">
          </div>


    </div>

    <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg7.jpg">
      </div>
        <div class="col-sm-3" style="padding-top: 50px; text-align: left">

            <p>Bacon ipsum dolor amet ground round sirloin filet mignon, andouille cupim beef salami brisket ham hock hamburger pastrami shankle biltong. Chuck jerky brisket beef shank bresaola spare ribs pork cow meatball. </p>

        </div>
    <div class="col-sm-3"></div>

    </div>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>

    <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>


    </div>


</body>
