<body class="landingpage menu">

    <div class="container" style="background-color: white; margin-top: 0px;">

    <div class="row menu_headline">

      <a href="/"><h1 style="color: black">FOR MOVING SERVICE</h1></a>

    </div>

    <div class="row content">
      <h3>ART TRANSPORTATION</h3>
        <div class="col-sm-2 menu" style="position: fixed">
          <ul class="">
            <a href="/philosophy"><li>PHILOSOPHY</li></a>
            <li>*</li>
            <a href="/arttransport"><li>ART TRANSPORTATION</li></a>
            <li>*</li>
            <a href="/cartransport"><li>CAR TRANSPORTATION</li></a>
            <li>*</li>
            <a href="/friends"><li>FRIENDS</li></a>
            <li>*</li>
            <a href="/contact"><li>CONTACT</li></a>
          </ul>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-1"></div>

        <div class="col-sm-6" style="padding-top: 0px; text-align: center">
            <h4>"From nail to nail."</h4>
            <p>For Moving Service caters customers such as artists, galleries or private art collectors. Expect a customer-centered full-service that starts with transportation palnning and execution and extents to assembling art at it's destitnation or even support services at art fairs and other exhibitions. </p>

        </div>

        <div class="col-sm-1"></div>

  <div class="col-sm-2 logo" style="">
    <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/FMS_logo_black.png" width="100px">
  </div>


    </div>

    <div class="row content" style="margin-top: 40px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg7.jpg">
      </div>
<!--         <div class="col-sm-3" style="padding-top: 50px; text-align: left">

            <p>Bacon ipsum dolor amet ground round sirloin filet mignon, andouille cupim beef salami brisket ham hock hamburger pastrami shankle biltong. Chuck jerky brisket beef shank bresaola spare ribs pork cow meatball. </p>

        </div> -->
    <div class="col-sm-3"></div>

    </div>

        <div class="row content" style="margin-top: 40px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>

    <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>


    </div>


</body>
