
    <body class="landingpage menu">

    <div class="container" style="background-color: white; margin-top: 0px;">

    <div class="row menu_headline">

      <a href="/"><h1 style="color: black">FOR MOVING SERVICE</h1></a>

    </div>

    <div class="row content">
            <a href="/menu" class="btn btn-success mobile_menu_button">MENU</a>
      <h3>CAR TRANSPORTATION</h3>
               <div class="col-sm-2 menu" style="">
          <ul class="">
            <a href="/philosophy"><li>PHILOSOPHY</li></a>
            <li>*</li>
            <a href="/arttransport"><li>ART TRANSPORTATION</li></a>
            <li>*</li>
            <a href="/cartransport"><li>CAR TRANSPORTATION</li></a>
            <li>*</li>
            <a href="/rental"><li>RENTAL</li></a>
            <li>*</li>
            <a href="/friends"><li>FRIENDS</li></a>
            <li>*</li>
            <a href="/contact"><li>CONTACT</li></a>
          </ul>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-1"></div>

        <div class="col-sm-6" style="padding-top: 0px; text-align: center">
            <h4>"From garage to garage."</h4>
            <p>Many people believe that cars are one of the most emotional forms of art. At For Moving Service we know that our customers love their cars and treat your treasuires in the most cautious manner. We are experienced in moving classic and racing cars alike and also provide on-site services at racetracks and rallies. </p>

        </div>

        <div class="col-sm-1"></div>

  <div class="col-sm-2 logo" style="">
    <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/FMS_logo_black.png" width="100px">
  </div>


    </div>



        <div class="row content" style="margin-top: 40px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/art/car1.JPG">
      </div>
    <div class="col-sm-3"></div>

    </div>

    <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/art/car2.JPG">
      </div>
    <div class="col-sm-3"></div>

    </div>





    </div>


</body>



    </div>

        <div class="row foot" style="background-color: white; padding: 20px 0px; margin-top: 0px">
  <div class="col-sm-12">
    <p>© FOR MOVING SERVICE GMBH 2016 | IMPRINT</p>
      <div class="mobile_logo">
    <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/FMS_logo_black.png" width="50px">
  </div>
  </div>
</div>


</body>
