
    <body class="landingpage menu">

    <div class="container" style="background-color: white; margin-top: 0px;">

    <div class="row menu_headline">

      <a href="/"><h1 style="color: black">FOR MOVING SERVICE</h1></a>

    </div>

    <div class="row content">
                <a href="/menu" class="btn btn-success mobile_menu_button">MENU</a>
      <h3>FRIENDS</h3>
        <div class="col-sm-2 menu" style="">
          <ul class="">
            <a href="/philosophy"><li>PHILOSOPHY</li></a>
            <li>*</li>
            <a href="/arttransport"><li>ART TRANSPORTATION</li></a>
            <li>*</li>
            <a href="/cartransport"><li>CAR TRANSPORTATION</li></a>
            <li>*</li>
            <a href="/rental"><li>RENTAL</li></a>
            <li>*</li>
            <a href="/friends"><li>FRIENDS</li></a>
            <li>*</li>
            <a href="/contact"><li>CONTACT</li></a>
          </ul>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-1"></div>

        <div class="col-sm-6" style="padding-top: 0px; text-align: center">


        </div>

        <div class="col-sm-1"></div>

  <div class="col-sm-2 logo" style="">
    <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/FMS_logo_black.png" width="100px">
  </div>


    </div>



    <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
<h2 class="text-align-center"><a ="/chris-goennawein">CLEMENS GUNZER</a><br><br><a ="/chris-goennawein">CHRIS GOENNAWEIN</a><br><br><a ="/hanakam-schuller-1">HANAKAM &amp; SCHULLER</a><br><br><a ="/lori-hersberger">LORI HERSBERGER</a><br><br><a ="/angelika-loderer-1">ANGELIKA LODERER</a><br><br><a ="/charles-munka-1">CHARLES MUNKA</a><br><br><a ="/valentin-ruhry-1">VALENTIN RUHRY</a><br><br><a ="/vincent-szarek-1">VINCENT SZAREK</a><br><br><a ="/clemens-wolf">CLEMENS WOLF</a><br><br><a ="/chris-goennawein">FILTHY FLAMINGOS</a><br><br><a ="/chris-goennawein">NORDSPITZ DIGITAL SOLUTIONS</a></h2>
      </div>
    <div class="col-sm-3"></div>

    </div>


    </div>

        <div class="row foot" style="background-color: white; padding: 20px 0px; margin-top: 0px">
  <div class="col-sm-12">
    <p>© FOR MOVING SERVICE GMBH 2016 | IMPRINT</p>
      <div class="mobile_logo">
    <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/FMS_logo_black.png" width="50px">
  </div>
  </div>
</div>


</body>




