<body class="landingpage menu">

    <div class="container">

    <div class="row menu_headline">

      <a href="/"><h1>FOR MOVING SERVICE</h1></a>
    </div>

    <div class="row content">

        <div class="col-sm-2">
<!--           <ul class="">
            <a href="/menu"><li>MENU</li></a>
            <li>*</li>
            <li>CONTACT</li>
          </ul> -->
        </div>

        <div class="col-sm-8 menu_box">

          <a href="/"><h3>HOME</h3></a>
          <a href="/philosophy"><h3>PHILOSPHY</h3></a>
          <a href="/arttransport"><h3>ART TRANSPORTATION</h3></a>
          <a href="/cartransport"><h3>CAR TRANSPORTATION</h3></a>
          <a href="/friends"><h3>FRIENDS</h3></a>
          <a href="/contact"><h3>CONTACT</h3></a>

        </div>

  <div class="col-sm-2 logo" style="padding-left: 0px; margin-left: -25px">
<!--     <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/FMS_logo_black.png" width="100px"> -->
  </div>


    </div>


    </div>


</body>
