<body class="landingpage menu">

    <div class="container" style="background-color: white; margin-top: 0px;">

    <div class="row menu_headline">

      <a href="/"><h1 style="color: black">FOR MOVING SERVICE</h1></a>

    </div>

    <div class="row content">

        <div class="col-sm-2 menu" style="">
          <ul class="">
            <a href="/philosophy"><li>PHILOSOPHY</li></a>
            <li>*</li>
            <a href="/arttransport"><li>ART TRANSPORTATION</li></a>
            <li>*</li>
            <a href="/cartransport"><li>CAR TRANSPORTATION</li></a>
            <li>*</li>
            <a href="/rental"><li>RENTAL</li></a>
            <li>*</li>
            <a href="/friends"><li>FRIENDS</li></a>
            <li>*</li>
            <a href="/contact"><li>CONTACT</li></a>
          </ul>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-1"></div>

        <div class="col-sm-6 philo_padding">
                        <a href="/menu" class="btn btn-success mobile_menu_button">MENU</a>
            <h3>PHILOSOPHY</h3>
            <p style="padding: 0px 30px" class="philo_p">For Moving Service is a transportation company spezialized is moving precious art and cars. We offer custom-made <a href="">transportation solutions</a> all over Europe. Our focus is on highest reliability, confidentiality and extra-ordinary dilligence.<br><br> Last but not least contempory art and classic cars are my personal passion - we love what we move and treat your treasuries as if they were ours.<br><br>Yours sincerely,<br><br>Thomas Morawek<br>Founder, For Moving Service GmbH</p>

        </div>

        <div class="col-sm-1"></div>

  <div class="col-sm-2 logo" style="">
    <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/FMS_logo_black.png" width="100px">
  </div>


    </div>

    <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/bg/fms_bg4.jpg">
      </div>
    <div class="col-sm-3"></div>

    </div>




    </div>

        <div class="row foot" style="background-color: white; padding: 20px 0px; margin-top: 0px">
  <div class="col-sm-12">
    <p>© FOR MOVING SERVICE GMBH 2016 | IMPRINT</p>
      <div class="mobile_logo">
    <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/FMS_logo_black.png" width="50px">
  </div>
  </div>
</div>


</body>
