
    <body class="landingpage menu">

    <div class="container" style="background-color: white; margin-top: 0px;">

    <div class="row menu_headline">

      <a href="/"><h1 style="color: black">FOR MOVING SERVICE</h1></a>

    </div>

    <div class="row content">
            <a href="/menu" class="btn btn-success mobile_menu_button">MENU</a>
      <h3>RENTAL</h3>
               <div class="col-sm-2 menu" style="">
          <ul class="">
            <a href="/philosophy"><li>PHILOSOPHY</li></a>
            <li>*</li>
            <a href="/arttransport"><li>ART TRANSPORTATION</li></a>
            <li>*</li>
            <a href="/cartransport"><li>CAR TRANSPORTATION</li></a>
            <li>*</li>
            <a href="/rental"><li>RENTAL</li></a>
            <li>*</li>
            <a href="/friends"><li>FRIENDS</li></a>
            <li>*</li>
            <a href="/contact"><li>CONTACT</li></a>
          </ul>
        </div>

        <div class="col-sm-2"></div>

        <div class="col-sm-1"></div>

        <div class="col-sm-6" style="padding-top: 0px; text-align: center">

            <p>You can rent the following classic and modern cars at FOR MOVING SERVICE. <br>Please <a href="contact.html">contact</a> us for details and rental rates.</p>

        </div>

        <div class="col-sm-1"></div>

  <div class="col-sm-2 logo" style="">
    <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/FMS_logo_black.png" width="100px">
  </div>


    </div>

                <h4>CLASSIC CARS</h4>
    <div class="row content" style="margin-top: 30px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/art/rental8.JPG">
      </div>
    <div class="col-sm-3"></div>

    </div>
      <p>Porsche 911T | 1968</p>

    <div class="row content" style="margin-top: 30px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/art/rental2.JPG">
      </div>
    <div class="col-sm-3"></div>

    </div>
      <p>Porsche 911T | 1968</p>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/art/rental3.JPG">
      </div>
    <div class="col-sm-3"></div>

    </div>
      <p>Porsche 911T | 1968</p>

        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/art/rental4.JPG">
      </div>
    <div class="col-sm-3"></div>

    </div>
    <p>Porsche 911T | 1968</p>



        <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/art/rental7.JPG" class="bmw">
      </div>
    <div class="col-sm-3"></div>

    </div>
      <p>BMW 2002 | 1976</p>

            <div class="row content" style="margin-top: 60px;">



                    <h4 style="margin-top: 60px">MODERN CARS</h4>


            <div class="row content" style="margin-top: 30px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/art/rental1.JPG">
      </div>
    <div class="col-sm-3"></div>

    </div>
    <p>Mercedes Benz GL350 BlueTec | 2015</p>



            <div class="row content" style="margin-top: 60px;">

      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <img width="100%" src="https://s3-us-west-2.amazonaws.com/formovingservice/art/rental5.png">
      </div>
    <div class="col-sm-3"></div>

    </div>
         <p>Jeep Grand Cherokee 3.0 CRD | 2010</p>





    </div>

        <div class="row foot" style="background-color: white; padding: 20px 0px; margin-top: 0px">
  <div class="col-sm-12">
    <p>© FOR MOVING SERVICE GMBH 2016 | IMPRINT</p>
      <div class="mobile_logo">
    <img src="https://s3-us-west-2.amazonaws.com/formovingservice/logo/FMS_logo_black.png" width="50px">
  </div>
  </div>
</div>


</body>



